.App {
  text-align: center;
  padding: 0;
  text-color: black;
}

.App-modal {
  text-align: center;
  padding: 10%;
  text-color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.modal-content {
}

.App-link {
  color: #61dafb;
}
