# -*- mode: python -*-
a = Analysis(['scripts/{{ repository_name }}'],
             pathex=['.'],
             hiddenimports=['unicodedata'],
             hookspath=None,
             runtime_hooks=None)
pyz = PYZ(a.pure)
exe = EXE(pyz,
          a.scripts,
          a.binaries,
          a.zipfiles,
          a.datas,
          name='{{ repository_name }}',
          debug=False,
          strip=False,
          upx=True,
          console=True )
